body{
  background-color: #ff4c68;
}
h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 48px;
    color: white;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: white;
    line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {

    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    background-color: #FAEBD7;
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media (max-width:1028px){
  #new-feed{
    margin-top: 60px;
  }
  #company{
    margin-top: 80px;
    margin-right: -48px;
  }
    .styled-input {
        width:100%;
    }
}

.styled-input label {
  font-weight: bold;
    color: black;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {

    width: 650px;
    max-width: 100%;
}

input,
textarea {

    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #FAEBD7;
    color: black;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {

    width: 100%;
    min-height: 15em;
}

.input-container {

background-color: white;
    width: 700px;
    max-width: 100%;
    margin: 20px auto 25px auto;
    padding: 20px;
}




.submit-button{
    transform: translateY(1px);
    position: relative;
margin: 0 auto;

}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
}

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}
#company{
  background-color: white;
}
